.body {
  top: 0px;
  left: 0px;
  background: #f8f7f6 0% 0% no-repeat padding-box;
  opacity: 1;
}

/* Hide the default scrollbar */
.scrollBar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.scrollBar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.scrollBar::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.scrollBar::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.top-nav {
  margin-top: 20px;
  left: 18px;
  height: 72px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 70px;
  opacity: 1;
}

.logo-wrapper {
  top: 30px;
  left: 50px;
  width: 211px;
  height: 48px;
  background: transparent url('/images/TestLogo.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.nav-bar {
  overflow: hidden;
}

.bg-purple {
  background-color: #F4F0FE !important;
}

.patientList:hover {
  cursor: pointer;
  border-bottom: 1px solid #333;
  background-color: #e6e4e4;
}

.table-secondary {
  background-color: #F6F7F8 !important;
  color: #000 !important;
  border-radius: 10% !important;
}


.asideRight {
  max-height: 630px;
  overflow: hidden;
  overflow-y: scroll;
}

.tableHeight {
  max-height: 260px;
  overflow: hidden;
  overflow-y: scroll;
}

.listHeight {
  max-height: 200px;
  overflow: hidden;
  overflow-y: scroll;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu-item {
  padding: 14px 20px;
}

.menu-item a {
  color: #000;
  text-decoration: none;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  transition: background-color 0.3s;
}


.active {
  background: #01F0D0;
  border-radius: 41px;
  opacity: 1;
  padding: 10px;
}

.icon-wrap {
  width: 22px;
  height: 17px;
  opacity: 1;
}

.icon-wrap img {
  padding-right: 5px;
}

.text-holder {
  padding-top: .15rem !important;
}

.profile-card {
  display: flex;
  align-items: center;
  padding: 10px;
}

.profile-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}

.profile-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-body {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.profile-header {
  font-size: 14px;

}

.cardBackground-1 {
  background-color: #E0F3FA !important;
}

.cardBackground-2 {
  background-color: #FFE6E9 !important;
}

.cardBackground-3 {
  background-color: #FFE6F1 !important;
}

.selected {
  background: #01F0D0;
}